{%extends 'base.html'%}
{% block content %}
    <h1>ABOUT BASE 64 ENCODING</h1>
    <p>Base64 is a way in which 8-bit binary data is encoded into a format that can be represented in 7 bits.
       This is done using only the characters A-Z, a-z, 0-9, +, and / in order to represent data, with = used to pad data.
       For instance, using this encoding, three 8-bit bytes are converted into four 7-bit bytes.
       The term Base64 is taken from the Multipurpose Internet Mail Extensions (MIME) standard,
       which is widely used for HTTP and XML, and was originally developed for encoding email attachments for transmission.</p>

    <h3>MD5 HASH</h3>
    <p>The MD5 message-digest algorithm is a widely used hash function producing a 128-bit hash value.</p>

    <h2>ABOUT THIS WEBSITE</h2>
    <p>6base4 helps you to convert an image to a base 64 encoding of the image and
       provides you with it's MD5 hash.</p>
{%endblock%}
